<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webcore.platform.dao.CommunityDAO">

    <select id="getCommunityByIdx" parameterType="int" resultType="com.webcore.platform.domain.CommunityDTO">
        SELECT COMMUNITY_IDX, MEMBER_IDX, CATEGORY_ID, TITLE, CONTENT, VIEW_COUNT, CONTENT, VIEW_COUNT, REG_DATE, MOD_DATE, DEL_YN
        FROM TB_COMMUNITY
        WHERE COMMUNITY_IDX = #{communityIdx};
    </select>

    <insert id="insertCommunity" parameterType="com.webcore.platform.domain.CommunityDTO"
            useGeneratedKeys="true" keyProperty="communityIdx">
        INSERT INTO TB_COMMUNITY (MEMBER_IDX, CATEGORY_ID, TITLE, CONTENT, REG_DATE)
        VALUES (#{memberIdx}, #{categoryId}, #{title}, #{content}, NOW());
    </insert>

    <update id="deleteCommunity" parameterType="com.webcore.platform.domain.CommunityDTO">
        UPDATE TB_COMMUNITY
        SET
            DEL_YN = 'Y',
            MOD_DATE = NOW()
        WHERE COMMUNITY_IDX = #{communityIdx}
            AND MEMBER_IDX = #{memberIdx};
    </update>

    <update id="updateCommunity" parameterType="com.webcore.platform.domain.CommunityDTO">
        UPDATE TB_COMMUNITY
        SET
            CATEGORY_ID = #{categoryId},
            TITLE = #{title},
            CONTENT = #{content},
            MOD_DATE = NOW()
        WHERE COMMUNITY_IDX = #{communityIdx}
            AND MEMBER_IDX = #{memberIdx}
            AND DEL_YN='N';
    </update>
</mapper>