<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webcore.platform.owner.dao.OwnerDAO">
    <!--소상공인 정보 ResultMap-->
    <resultMap id="memberWithOwnerResultMap" type="com.webcore.platform.owner.dto.OwnerDTO">
        <!-- TB_MEMBER -->
        <id property="memberIdx" column="member_idx" />
        <result property="memberId" column="member_id" />
        <result property="memberName" column="member_name" />
        <result property="memberEmail" column="member_email" />
        <result property="memberPhone" column="member_phone" />
        <result property="profileImgUrl" column="profile_img_url" />
        <result property="intro" column="intro" />
        <result property="heartCount" column="heart_count" />
        <result property="penalty" column="penalty" />
        <result property="delYn" column="del_yn" />
        <result property="regDate" column="reg_date" />

        <!-- Owneer 전용 필드 -->
        <result property="businessName" column="business_name" />
        <result property="businessUrl" column="business_url" />

        <!-- auth 리스트 -->
        <collection property="authDTOList" ofType="com.webcore.platform.member.dto.MemberAuthDTO">
            <result property="auth" column="auth" />
        </collection>
    </resultMap>
    <!-- 소상공인 프로필 등록 -->
    <insert id="insertOwnerProfile">
        INSERT INTO TB_OWNER_PROFILE (MEMBER_IDX, BUSINESS_NAME, BUSINESS_URL)
        VALUES (
        #{memberIdx}, #{businessName}, #{businessUrl}
        );
    </insert>

    <!--(소상공인) 회원 고유 번호로 회원 정보 조회-->
    <select id="selectOwnerByIdx" parameterType="java.lang.Integer" resultMap="memberWithOwnerResultMap">
        select mb.member_idx, mb.member_id, mb.member_name, mb.member_email, mb.member_phone,
            mb.profile_img_url, mb.intro, mb.heart_count, mb.penalty, mb.del_yn, mb.reg_date, au.auth,
            op.BUSINESS_NAME, op.BUSINESS_URL
        FROM tb_member mb JOIN tb_member_auth au
        ON mb.member_idx = au.member_idx
        JOIN tb_owner_profile op
        on mb.MEMBER_IDX=op.MEMBER_IDX
        where mb.member_idx=#{memberIdx};
    </select>
</mapper>